body { 
	width: 100%;  
	margin: 0;
	background-color: #ececec;
	font-family: Verdana, Geneva, sans-serif;
}
	
body::-webkit-scrollbar { 
    display: none; 
}

.presWrapper {
	padding-top: 5vh;
}
.page {
	width: 80%;
	height: 90vh;
	margin-bottom: 5vh;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	position: relative;
}

.pageWrapper {
	margin-top: -5vh;
    padding-top: 5vh;
}

.pageNumber {
	right: 0;
    bottom: 0;
    padding: 5px 10px;
    background-color: darkgray;
    position: absolute;
}

/* ######## INTRO - PAGE ######## */

.startPage {

}

.mainTitle {
	margin: 0;
	padding-top: 30vh;
	font-size: 8vh;
	text-align: center;
}

.subTitle {
	font-size: 4vh;
	text-align: center;
}

/* ######## CHAPTERS ######## */

.chapter1, .chapter2, .chapter3, .chapter4, .chapter5, .chapter6, .chapter7, .chapter8, .chapter9 {

}
